.gradle
build/
logs/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
**/src/main/querydsl/**
**/application-local.yaml
**/application-local.yml
*-local*
logback-test.xml
*.log
*.pid

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
